selenium==4.10.0
undetected-chromedriver==3.5.5
pandas==2.2.3
tqdm==4.67.1
ollama==0.5.1
transformers==4.52.4
torch==2.0.1
joblib==1.4.2
numpy==1.25.0
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.66
langchain-text-splitters==0.3.8